body {
    font-family: "Inter", sans-serif;     background: linear-gradient(120deg, #719676, #3A6351);
    background-image: url("media/loginbg6.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: rgba(255, 255, 255, 0.14);
    backdrop-filter: blur(10px);
    padding: 60px 40px 20px;
    border-radius: 20px;
    box-shadow: 2px 4px 40px 10px rgba(0, 0, 0, 0.8);
    text-align: center;
    max-width: 550px;
    height: 450px;
    width: 50%;
    position: relative;
}

.login-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    padding: 1.5px;
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, 0.475), transparent);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    transition: padding 0.3s ease;
    z-index: -1;
}

.login-box h2 {
    margin: 0 0 50px;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
}

.input-group {
    position: relative;
    margin-bottom: 30px;
    width: 100%;
}

.input-group input {
    width: 100%;
    padding: 50px 0px 10px;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid #ffffff;
    outline: none;
    background: transparent;
}

.input-group label {
    position: absolute;
    font-size: 20px;
    top: 10px;
    left: 0;
    color: white;
    pointer-events: none;
    transition: 0.5s;
}

.input-group input:focus~label,
.input-group input:valid~label {
    top: -15px;
    left: 0;
    font-size: 16px;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.back-btn,
.log-in-btn {
    background: #1b2316;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    width: 120px;
    font-size: large;
}

.back-btn:hover {
    background: #3e5232;
}
.log-in-btn:hover {
    background: #3e5232;
}

.error-message {
    color: #E74C3C;
    font-size: 18px;
    margin-top: 10px;
    display: none;
    /* Adjusted display style */
}

#leaf {
    position: absolute; 
    width:45%; 
    bottom:-110px; 
    left:430px; 
    transform:rotate(-30deg);
    animation: rotateBackAndForth 2s infinite ease-in-out;
}

@keyframes rotateBackAndForth {
    0% {
        transform: rotate(-30deg);
    }
    50% {
        transform: rotate(-35deg); /* Rotate slightly to the left */
    }
    100% {
        transform: rotate(-30deg); /* Rotate slightly to the right */
    }
}